<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensestracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/money_bag"
        android:label="@string/app_name"
        android:roundIcon="@drawable/money_bag"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".testLineChartMainActivity"/>

        <activity
            android:name=".budget_categories.activities.AddingBudgetCategoryActivity"
            android:label="@string/new_budget_category"/>

        <activity
            android:name=".budgetplanner.activities.PlanInfoActivity"
            android:label="@string/plan_info"/>

        <activity
            android:name=".transactions.activities.ListingCategoryTransactionsActivity"
            android:label="@string/your_expenses" />

        <activity
            android:name=".transactions.activities.AddingTransactionActivity"
            android:label="@string/new_transaction" />

        <activity
            android:name=".mainactivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>